.listenIcon {
    transition: all 0.5s ease-in-out;
    font-size : 1.5rem;
    color : white;
    background-color : $color-main;
    padding : 7px !important;
    border-radius: 50%;
}

.listenIcon-hovering{
    transition: all 0.5s ease-in-out;
    color : white;
    top : -20px;
    right : -35px;
    font-size : 1.5rem;
    background-color : $color-interaction;
    padding : 7px !important;
    border-radius: 50%;
}

.rondleidingperiode-icon {
    position: absolute;
    color : white;
    top : -20px;
    right : -35px;
}

.rondleidingrenner-icon {
    z-index : 3
}



