.taskbar-header {
    height : 10vh;
    width: 100%;
    background-color : $color-header;
    position: fixed;
    top : 0;
    z-index :3;
    display : flex;
    flex-direction: row;
}
.taskbar-actions {
    width : 15%;
    height : 100%;
    margin-left:  auto;
    margin-right : auto;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    text-align: center
}

.taskbar-button {
    transition: all 0.4s ease-in-out;
    font-size : 2.8rem;
    color : white;
    vertical-align: bottom;
    margin-top : auto;
    margin-bottom: auto;
    z-index : 1
}

.taskbar-button2 {
    transition: all 0.4s ease-in-out;
    font-size : 3.2rem;
    color : $color-main;
    vertical-align: bottom;
    margin-top : auto;
    margin-bottom: auto;
}

.taskbar-button3 {
    transition: all 0.2s ease-in-out;
    font-size : 3.2rem;
    color : grey;
    vertical-align: bottom;
    margin-top : auto;
    margin-bottom: auto;
}


.taskbar-button:hover ,
.taskbar-button2:hover {
    color : $color-main
}

.taskbar-setup {
    padding-top : 10vh;
    height : 100vh;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}


.taskbar-link {
    transition: all 0.3s ease-in-out;
    padding : 3px 6px;
    background-color : $color-main;
    font-weight: bold;
    color : white;
    margin-top : auto;
    margin-bottom: auto;
    position: absolute;
    top : 3vh;
    left : 2vw;
    border-radius: 5px;
    text-transform: uppercase;
    font-size : 1rem
}

.taskbar-link2 {
    transition: all 0.3s ease-in-out;
    padding : 3px 6px;
    background-color : $color-main;
    font-weight: bold;
    color : white;
    margin-top : auto;
    margin-bottom: auto;
    position: absolute;
    top : 3vh;
    right : 2vw;
    border-radius: 5px;
    text-transform: uppercase;
    font-size : 1rem
}

.taskbar-link:hover,.taskbar-link2:hover{
    
    background-color : $color-third;
    cursor : pointer
}