html {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-third;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y : auto !important;
    width: 100vw;
}

a {
    transition : all 0.3s ease-out
}

.renner-add-icon:hover{
    color : $color-interaction;
}
.renner-add-icon {
    transition : all 0.3s ease-out
}

.error-status {
    margin : 0 auto;
    text-align: center;
    color : red;
    padding: 10px;
}

.page {
    opacity: 0.95;
    transition: opacity 1.5s ease-in-out;
}

.fade-in {
    opacity: 1;
  }


#rcc-confirm-button {
    background : $color-main !important;
    border-radius: 5px !important;
    color : $color-third !important;
}