html {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-third;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y : auto !important;
    width: 100vw;
}

a {
    transition : all 0.3s ease-out
}

.renner-add-icon:hover{
    color : $color-interaction;
}
.renner-add-icon {
    transition : all 0.3s ease-out
}

.error-status {
    margin : 0 auto;
    text-align: center;
    color : red;
    padding: 10px;
}

// .page {
//     position:absolute;
//     left : 0;
//     right : 0;

// }

// .fade-appear, .fade-enter{
//     opacity: 0;
//     z-index: 1
// }

// .fade-appear-active, .fade-enter, .fade-enter-active {
//     opacity: 1;
//     transition : opacity 300ms linear 150ms
// }

// .fade-exit {
//     opacity: 1
// }

// .fade-exit,.fade-exit-active {
//     opacity:0;
//     transition : opacity 150ms linear
// }

.page {
    opacity: 0.95;
    transition: opacity 1.5s ease-in-out;
}

.fade-in {
    opacity: 1;
  }