.renner {
    &-add {
        color : $color-secondary;
        font-weight: bold;
        text-align: center;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5vh;
        border-radius : 10px;
        width : 220px;
        height : 110px;
        box-shadow: 1px 1px 10px  $color-secondary;
        text-transform : uppercase;
        &-icon {
            color : $color-main;
            font-size : 3rem
        }
    }
    &-overview {
        margin-left: 5vw;
        margin-right: 5vw;
        width : 75vw;
        margin-top : 5vh;
        height : fit-content;
        min-height: 12vh;
        box-shadow: 1px 1px 10px  $color-secondary;
        border-radius : 10px;

    }
    &-table {
       
        margin-left:auto;
        margin-right:auto;
        width : 70%;
        text-align: center;
    }
    &-tablehead {
        
        color : $color-secondary;
        font-weight : bold;
        text-align: left;
        td {
            padding-top:15px;
            padding-bottom: 15px;
            padding-left : 10px;
            padding-right : 10px;
        }

    }
    &-tablecontent {
        position: relative;
        color : black ;
        font-weight : bold;
        text-align : left;
        td {
            padding-left : 10px;
            padding-right : 10px;
            padding-bottom: 10px;

            
        }
        

    }
    &-tableactions {
        font-weight: bold;
        color : $color-main;
        i {
           position: relative;
           top : 3px
           
        }
    }
    &-tablelink {
        color : $color-main;
    }
    &-emptytable {
        text-align: center;
        padding-top:30px;
        padding-bottom: 30px;
        font-weight: bold;
        flex-direction : row ;
        justify-content : space-between;
        width : 100vw;

    }




}
