.riderpage-first {
    height : 90vh;
    margin-top : 10vh;
    width :100vw;
    z-index:3;
    display: inline-block;
}


.riderpage-title {
    position: absolute;
    width : fit-content;
    left: 20%;
    top : 30%;
    transform: translateX(-50%);
    border-bottom: 3px solid $color-main;
    padding-right: 10px;
    p {
        font-size : 3.5rem;
        text-transform: uppercase;
        color : white;
        font-weight : bold;
        margin-bottom: 10px;
    }
}