.rondleiding {
    &-info {
        position: relative;
        height : 100%;
        width : 100%;
        display : inline-block;
        background-color :$color-third;
        backdrop-filter: brightness(60%);
        
    }
    &-title {
        text-align : center;
        font-size : 3.5rem;
        font-weight: bold;
        letter-spacing: 2px;
        filter: brightness(100%) !important;
        color: #FFFFFF;
        text-shadow: 3px 3px 0 black;
        display: block;
        margin-top:auto;
        margin-bottom: auto;
        padding : 0px;
       
        
       
    }
   
}

.listen {
    position: absolute;
    width : fit-content;
    left: 50%;
    margin-top : 35vh;
    transform: translateX(-50%);
    border-bottom: 3px solid $color-main;
}

.continue {
    position: absolute;
    width : fit-content;
    right: 5%;
    margin-top : 35vh;
  
    color : $color-main;
    // font-size : 3rem;
    // padding : 8px !important;
    // border-radius: 50%;
    // background-color :white
    
}


@mixin arrow($color) {
  width: 12px;
  height: 12px;
  border: none;
  background: none;
  position: relative;
  display: inline-block;
  // Scales well with transform too!
  // transform: scale(2.5);
  &::before {
    top: 3px;
    right: 6px;
    width: 8px;
    height: 8px;
    content: '';
    position: absolute;
    transform: rotate(-45deg);
    box-shadow: 2px 2px 0 $color, 3px 2px 0 $color, 2px 3px 0 $color, 3px 3px 0 $color;
  }
  &::after {
    width: 0;
    height: 0;
    left: -1px;
    bottom: 50%;
    content: '•';
    color: $color;
    line-height: 0;
    font-size: 14px;
    position: absolute;
    transition: left .1s ease-out, bottom .1s ease-out, letter-spacing .1s ease-out;
  }
  
  &.-long {
    width: 22px;
    &::after {
      left: 0;
      content: '•••';
      text-align: right;
    }
  }
  
  &:hover,
  &:focus {
    outline: none;
    &::after {
      left: 1px;
    }
    &.-long::after {
      left: -.19em;
      letter-spacing: .1em;
    }
  }
}

.arrow {
  @include arrow(white)
}

.arrow {
  &.-large {
    transform: scale(2.5);
  }
  &.-huge {
    transform: scale(5);
  }
  &.-purple {
    @include arrow(white);
  }
  &.-red {
    @include arrow(white);
  }
}



body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }